/*Color-pallet:
Primary    : #f84e32
Text       : #44484d
background : #f6f2ef
*/

@font-face {
    font-family: 'LibreCaslonDisplay-Regular';
    src: url('../fonts/LibreCaslonDisplay-Regular.ttf');
}

@font-face {
    font-family: 'TenorSans-Regular';
    src: url('../fonts/TenorSans-Regular.ttf');
}

head {
    background-color: #f6f2ef;
}

body {
    background-color: #f6f2ef;
}

footer {
    background-color: #f6f2ef;
}

h1 {
    font-size: 50px;
    font-family: 'LibreCaslonDisplay-Regular', serif;
    padding-bottom: 0.3em;
    color: #f84e32;
}

h2 {
    color: #000000;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'LibreCaslonDisplay-Regular', serif;
}

h3 {
    font-size: 1.25rem;
    font-family: 'LibreCaslonDisplay-Regular', serif;
}

a {
    color: #44484d;
    font-family: 'TenorSans-Regular', sans-serif;
}

a:hover {
    color: #383838;
}

p {
    font-size: 0.9rem;
    color: #44484d;
    font-family: 'TenorSans-Regular', sans-serif;
}

li{
    font-size: 1.2em;
}

.nav-link-active {
    color: black;
    font-weight: bold;
}

.about-content {
    text-transform: uppercase;
}

.btn-primary {
    background-color: #f84e32;
    color: #FFFFFF;
    border-color: #f84e32;
    width: 90%;
    margin: 10px;
}

.btn-primary:hover {
    background-color: #ececee !important;
    color: #000 !important;
    border-color: #ececee !important;
}

.btn-primary:active:focus {
    box-shadow: none !important;
    background-color: #ececee !important;
    color: #000 !important;
    border-color: #ececee !important;
}

.card {
    margin: 10px;
    width: 18rem;
}

.icon {
    font-size: 50px;
}

#contact-content {
    text-align: center;
}

#section-blog {
    padding-top: 2em;
    padding-bottom: 2em;
}

#avatar-container {
    align-self: center;
}

#avatar {
    height: 26em;
    width: 26em;
    border-radius: 50%;
    display: block;
    margin-left: auto;
}

#webmaster-name {
    font-weight: bold
}

#title {
    font-size: 8em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#blog-title {
   
}

#about-title {
}

.navbar{
    padding-top: 3em;
    padding-left: 3em;
}

#creator {
    padding-top: 40px;
    text-align: center;
    font-size: 10px;
}

#h1-title-p2 {
    line-height: 100px;
}

#contact-tel {
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    top: 20%;
}

#contact-mail {
    font-size: 16px;
    text-transform: uppercase;
}

.separator {
    background-color: #383838;
    height: 4px;
    margin-bottom: 15px;
}

@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    #title {
        font-size: 5.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }    
}

@media (max-width: 470px) {
    
}