/*Color-pallet:
Primary    : #f84e32
Text       : #44484d
background : #f6f2ef
*/

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

head {
    background-color: #f6f2ef;
}

body {
    background-color: #3a458b;
}

h1 {
    font-size: 50px;
    font-family: 'Montserrat-Bold', sans-serif;
    padding-bottom: 0.3em;
    color: #3a458b;
}

h2 {
    color: #000000;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat-Regular', sans-serif;
}

h3 {
    font-size: 1.25rem;
    font-family: 'Montserrat-Regular', sans-serif;
}

a {
    color: #3a458b;
    font-family: 'Montserrat-Regular', sans-serif;
}

a:hover {
    color: #3a45ff;
}

p {
    font-size: 1.0rem;
    color: #44484d;
    font-family: 'Montserrat-Regular', sans-serif;
}

.btn-primary {
    background-color: #f84e32;
    color: #FFFFFF;
    border-color: #f84e32;
    width: 90%;
    margin: 10px;
}

.btn-primary:hover {
    background-color: #ececee !important;
    color: #000 !important;
    border-color: #ececee !important;
}

.btn-primary:active:focus {
    box-shadow: none !important;
    background-color: #ececee !important;
    color: #000 !important;
    border-color: #ececee !important;
}

.card {
    margin: 10px;
    width: 18rem;
}

.icon {
    font-size: 50px;
}

#about-title {
    color: #ffcbcb;
    text-align: center;
}

#top-content {
    background-color: #ffcbcb;
}

#about-content {
    background-color: #3a458b;
}

.about-content {
    color: #ffcbcb
}

/**CONTACT */

#section-contact {
    background-color: #ffcbcb;
    padding-top: 1em;
}

#contact-content {
    text-align: center;
}

.contact-mail {
    color: #3a458b;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: 'Montserrat-Bold', sans-serif;
}
/** *********/

/** FOOTER */
footer {
    background-color: #ffcbcb;
} 
/***** ********/

#section-blog {
    padding-top: 2em;
    padding-bottom: 2em;
}

#avatar {
    height: 23em;
    width: 23em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#webmaster-name {
    font-weight: bold
}

#title {
    letter-spacing: 0.1em;
    font-size: 7em;
    padding-top: 1em;
    padding-bottom: 1em;
}

li {
    font-size: 1.1em;
}

.navbar {
    padding-top: 3em;
    padding-left: 3em;
    background-color: #ffcbcb;
}

.nav-link-active {
    color: #3a458b;
    font-weight: bold;
}

.nav-link {
    color: #3a458b;
}

#creator {
    padding-top: 40px;
    text-align: center;
    font-size: 10px;
}

#h1-title-p2 {
    line-height: 100px;
}

.separator {
    background-color: #383838;
    height: 4px;
    margin-bottom: 15px;
}

@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    #title {
        font-size: 4.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    #avatar {
        height: 20em;
        width: 20em;
    }
}

@media (max-width: 470px) {
    #avatar {
        height: 16em;
        width: 16em;
    }
}